@media (max-width: 376px) {
    h1 {
        font-size: 30px !important;
    }
    h2 {
        font-size: 9px !important;
    }
    p {
        font-size: 3px !important;
    }
}

button:hover {
    color: white !important;
    background: #875df17a !important;
    cursor: pointer;
}

p {
    font-size: 20px;
}

a:hover {
    color: #875df17a !important;
    text-decoration: underline !important;
}